@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Charm&family=Quicksand:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px; */
}

html {
    scroll-behavior: smooth;
    
  }
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    position: relative;
    
    /* background-color:rgb(255, 238, 236); */
}
header {
    
    /* background: linear-gradient(330deg, rgba(21,148,142,1) 0%, rgba(39,3,113,1) 100%); */
    background: linear-gradient(150deg, rgb(236, 168, 180) 0%, rgb(255, 219, 213) 100%);
    padding: 1em 0.8em;
    text-shadow: 1px 1px rgb(230, 162, 162);
 }

 button{
     color:white;
     background: #a1283a;
     padding: 10px;
     /* margin-left: 3rem; */
     
 }

 .pageHeading{
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    background-color: rgb(239, 239, 239);
    display: flex;
 }

.left-title 
{
    color: rgb(164, 59, 59);  
    margin:0 0.3rem;   
    margin-left: 0rem;
    font-size: 1.5rem;
   
   
}

.test{
    color: transparent;
    background-image:  linear-gradient(to right, #7b166a 45%, #be4327);
    background-clip: text;
    -webkit-background-clip: text;
}

.right-title 
{ 
    color:rgb(164, 59, 59); 
    font-size: 0.9em;
    margin:0 0.3rem;
 }

 .bg-primary{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 #gotoHome{
    padding: 0.5rem 1rem;
    border: solid 2px firebrick;
    margin-left:auto;
    margin-top: 0.5rem;
    border: none;
    width: 80px;
    margin-left: 75%;
    /* border-right: solid 15px white; */
    background-color: #92303f;
    color: white;
 }

 .main-content{
     margin:1.5rem 0.5rem;
     font-size: 1.1rem;
     /* width: 95%; */
     position: relative;
 }

 .question{
     padding: 0.5rem;
     border-radius: 5px;
     background: linear-gradient(180deg, rgba(250,240,240,1) 0%, rgba(255,230,230,1) 45%, rgba(254,210,210,1) 100%);
 }

.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    /* width: 95%; */
    /* margin: auto; */
}

 .options{
     padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     border: solid 1px;
     background-color: rgb(250, 222, 228);
     /* background: linear-gradient(0deg, rgba(255,230,230,1) 45%, rgba(254,210,210,1) 100%); */
     font-size: 0.9rem;
     border-radius: 5px;
          
 }

.showAnswer{
    margin: 1.5em auto 0 auto;
    text-align: center;
}

#showAnswerBtn{
    border: none;
    border-radius: 5px;
}

#correctAnswer{
    margin: 1rem;
    
    font-size: 0.9rem;
    color: #006442;
    /* background-color: #ffffff; */
    text-align: left;
}

#divCorrectAnswer{
    
   
    border-radius: 10px;
        
}

.movement{
    padding: 20px 0;
    display: flex;
    justify-content:space-around;
}

.btn{

    padding:0.8rem 0.3rem;
    color: white;
    /* background: linear-gradient(330deg, rgba(90,185,180,1) 0%, rgba(15,140,137,1) 100%); */
    background: linear-gradient(0deg, rgb(222, 86, 86) 0%, rgb(250, 155, 174) 100%);
    border: none;
    border-radius: 10px;
    width: 25%; 

}

.right{

    padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     /* border: solid 1px; */
     /* background-color: rgb(194, 226, 235); */
     font-size: 0.9rem;
     border-radius: 5px;
    background:linear-gradient(0deg, rgb(28, 117, 32) 45%, rgb(38, 160, 38) 100%);
    color: rgb(245, 248, 245);
}

.wrong{
    padding: 10px 10px;
     width: 90%;
     /* background-color: rgb(214, 245, 239); */
     margin: 0.4rem;
     /* border: solid 1px; */
     /* background-color: rgb(194, 226, 235); */
     font-size: 0.9rem;
     border-radius: 5px;
     background: linear-gradient(0deg, rgb(149, 64, 27) 45%, rgb(236, 129, 99)100%);;
     color: rgb(244, 224, 224);
}

.results{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    background: linear-gradient(0deg, rgb(248, 237, 237) 0%, rgb(255, 255, 255) 100%);
    padding: 2rem 0.5rem;
    
}

#evaluation{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem; 
    
}

#explanation{
    margin: 0.6rem 0.2rem 0.8rem 0.2rem;
}

.scoreArea{
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

#correctAns{
    color: white;
    background-color: #0a5f3f;
}

#wrongAns{
    color: white;
    background-color: #830303;
}

#remarks{
    font-size: 1.1rem;
    width: 80%;
    text-align: left;
    background-color: rgb(232, 232, 232);
}

#tryAgain{
    width: 40%;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;

}

.goAOBR{
    width: 50%;
    background-color: rgb(30, 102, 157);
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem;
        
}
footer{
    background: linear-gradient(90deg, rgb(254,65,100) 0%, rgb(243, 181, 173) 100%);
    
    
  }

 .h1Tag{
    display: none;
 }

@media only screen and (min-width: 768px){

    body{
        width: 55%;
        margin: auto;
        
    }

    #myLinks{
        width: 70%;
    }

    #gotoHome{
        width: 80px;
        margin-left: 80%;
    }

   
}

#optionShow{
    /* margin: auto; */
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    top: 60%;
    /* bottom: 50%; */
    right: 40%;
    left: 40%;
    
}

@media only screen and (min-width: 1200px){

    body{
        width: 45%;
        margin: auto;
    }

    #myLinks{
        width: 70%;
    }

    footer{
        width: 45%;
    }

}